* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  body{
    background-image: url(../images/back__all.png);
  }
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
  }
  .nav{
    background-color: white;
  }
  .nav__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 33px;
    padding-bottom: 32px;
  }
  .nav__items{
    display: flex;
  }
  .nav__item{
  color: #31529A;
  margin-left: 39px;
  }
  .nav-color{
    color: #31529A;
    font-weight: 600;
font-size: 20px;
line-height: 24px;
  }
  .nav__item:first-child{
    margin-left: 0;
  }
  .nav__item:hover{
    background: #F2F2F2;
    padding: 16px 7px;
    border-radius: 10px;
  }
  .lang__logo{
    display: flex;
    align-items: center;
    color: #31529A;
    font-weight: 600;
font-size: 20px;
line-height: 24px;
  }
  .lang__vector{
    padding-left: 16px;
  }
 .local{
   font-weight: 600;
font-size: 20px;
line-height: 24px;
outline:none;
border: none;
 }
 

.nav {
  background-color: white;
}
.nav__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 33px;
  padding-bottom: 32px;
}
.nav__items {
  display: flex;
}
.nav__item {
  color: #31529a;
  margin-left: 39px;
}
.nav-color {
  color: #31529a;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.nav__item:first-child {
  margin-left: 0;
}
.nav__item:hover {
  background: #f2f2f2;
  padding: 16px 7px;
  border-radius: 10px;
}
.lang__logo {
  display: flex;
  align-items: center;
  color: #31529a;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.lang__vector {
  padding-left: 16px;
}
.local {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  outline: none;
}
.header{
  position: relative;
}
.header__back{
  position: absolute;
  order: -2;
}
.header__img{
  position: absolute;
  right: 0;
 top: 0;
  padding-top: 96px;
}
.header__title{
  font-style: normal;
font-weight: 600;
font-size: 64px;
color: #31529A;
}
.header__desck{
  font-weight: 800;
font-size: 70px;
line-height: 85px;
color: #31529A;
}
.btn{
  background: radial-gradient(168.75% 168.75% at 50% 0%, #D90505 0%, #000000 100%);
border-radius: 10px;
padding: 12px 20px;
border: none;
font-weight: 600;
font-size: 24px;
line-height: 40px;
letter-spacing: 0.02em;
color: #FFFFFF;
}









.value {
  max-width: 1200px;
  width: 100%;
}

.value__text {
  align-items: center;
  text-align: center;
  border: 1px solid red;
}

.value__title {
  text-align: center;
}

.value__box {
  background: #31529a;
  border-radius: 20px;
}

